<script>
	$(document).ready(function() {
		
		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,basicWeek,basicDay'
			},
			editable: false,
			events: '/calendar.json',
			eventClick: function(event) {
        		if (event.url) {
		            window.navigate(event.url);
		        }
    		}
		});
		
		if ($(window).width() < 480){
    		$('#calendar').hide();
        }
	});

</script>
<style>

	#calendar {
		width: 900px;
		margin: 0 auto;
		}

</style>

<div id='calendar'></div>
<div class="mobile-calendar">
	<table class="table">
		<tr>
			<td><h4>Próximos Eventos</h4></td>
		</tr>
		<% @events.each do |event| %>
			<% if event.date >= Date.today %>
			<tr>
				<td>
					<p class="nombre-evento"><%= event.name %></p>
					<p><%= event.date.strftime('%d-%b-%Y') %> &nbsp;&nbsp;<%= event.time.strftime('%I:%M %p') %></p>
					<p><%= event.place %></p>
					<p><%= link_to "Más info", interior_path(event) %></p>
				</td>
			</tr>
			<% end %>
		<% end %>
	</table>
</div>