<h1>Bienvenido</h1>
<div class="about row-fluid">
	<article>


<% @images = GalleryImage.order(:id) %>
<% if !@images.empty? %>
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators hidden-phone">
        <% @images.each_with_index do |image, index| %>
            <li data-target="#myCarousel" class="<%= "active" if index == 0 %>" data-slide-to="<%= index %>"></li>
        <% end %>
      </ol>
      <!-- Carousel items -->
      <div class="carousel-inner">
        <% @images.each_with_index do |image, index| %>
            <div class="<%= "active" if index == 0 %> item">
                <%= image_tag image.image_url(:gallery) %>
                <div class="carousel-caption">
                    <% if image.title.present? %>
                        <h4><%= image.title %></h4>
                    <% end %>
                    <% if image.text.present? %>
                        <p><%= image.text %></p>
                    <% end %>
                </div>
            </div>
        <% end %>
      </div>
      <!-- Carousel nav -->
      <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    </div>
<% end %>

    <% if !Convention.exists?%>
      <h2>No hay eventos en este momento, regresa pronto</h2>
    <% else %>
      <h2><%= @convention.name %></h2>
      <h3><%= @convention.description %></h3>
    <% end %>
    </article>
</div>
